<!doctype html>
<html>
  <head>
    <title>Pablo Lam Landing Page</title>
    
    <script src="js/dependencies/jquery/dist/jquery.min.js"></script>
    <script src="js/dependencies/angular/angular.min.js"></script>
    <script src="js/dependencies/angular-resource/angular-resource.min.js"></script> 
    <script src="js/dependencies/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/dependencies/angular-bootstrap/ui-bootstrap.min.js"></script>  
    <script src="js/dependencies/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="js/dependencies/ng-infinite-scroll.min.js"></script> 
    <script src="js/dependencies/angular-animate/angular-animate.min.js"></script> 
    <script src="js/dependencies/angular-scroll/angular-scroll.min.js"></script>  
    <script src="js/dependencies/skrollr.min.js"></script>
    <script src="js/dependencies/skrollr.dir.js"></script>
    <script src="js/dependencies/angular-media-player/dist/angular-media-player.min.js"></script>
    
    <script src="js/pablolam.js"></script>
    
    <link rel="stylesheet" href="js/dependencies/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/importer.css">
    
    
    
  </head>
    <body ng-app="pablolam">
    
      <script type="text/ng-template" id="about">
        <div class="pabloAboutFeedBlock">
          This is about me
        </div>
      </script>
    
      <script type="text/ng-template" id="music">
        <div class="pabloMusicFeedBlock">
          {{playlist}}
          {{audio1.currentTrack}}
          {{audio1.formatTime}}
          {{audio1.formatDuration}}
          {{audio1.volume}}
          {{audio1.loadPercent}}
          {{audio1.ended}}
          repeat One:{{repeatOne}}
          repeat All:{{repeatAll}}
          shuffle: {{shuffle}}
          
        </div>
      </script>
    
      <script type="text/ng-template" id="twitter">
        <div class="pabloTwitFeedBlock">
          <div ng-style="{{getStyleFromIndex(pabloFeed.indexOf(block), block.favorite_count)}}">
            <div>
              {{block.pabloDate * 1000 | date:'yyyy-MM-dd HH:mm'}}
            </div>
            <div class="pabloTwitFeedBlockText">
              {{block.text}}
            </div>
            <div ng-show="block.entities.media != null">
              {{block.entities.media[0].media_url}}
            </div>
          </div>
        </div>
      </script>
      
      <script type="text/ng-template" id="lastfm">
        <div class="pabloLastFMFeedBlock">
          <div>
            {{block.pabloDate * 1000 | date:'yyyy-MM-dd HH:mm'}}
          </div>
          <div>
            {{block.artist}} - {{block.text}}
          </div>
          <div>
            <div class="playButton" ng-click="audio1.playPause(playCurrent(block.text))">Play This</div>
          </div>
          <div ng-show="(playCurrent(block.text) == audio1.currentTrack - 1) && audio1.playing">
            playing!
          </div>
        </div>
      </script>
      
      <script type="text/ng-template" id="instagram">
        <div class="pabloIGFeedBlock">
          {{block.pabloDate * 1000 | date:'yyyy-MM-dd HH:mm'}}
          <span ng-style="{'background-image':'url({{block.image}})', 'background-size':'cover', 'height':'100%', 'display':'block', 'padding-bottom':'100%'}">
          </span>
        </div>
        <div>
        </div>
      </script>
      
      <script type="text/ng-template" id="navContainer">
        <div class="navbar-container">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="https://www.facebook.com/pawbs">Facebook</a></li>
            <li><a href="https://twitter.com/pawBs">Twitter</a></li>
            <li><a href="www.last.fm/user/pb_overflow">Last FM</a></li>
          </ul>
        </div>
      </script>
      
      <div class="mainContainer" ng-controller="FeedController">
        
        <div class=navbar-container>
        
          <nav class="navbar transparent navbar-fixed-top">
            <div ng-include="'navContainer'"></div>
          </nav>
        
          <nav class="navbar navbar-inverse navbar-fixed-top" skrollr data-0="opacity:0;" data-400="opacity:1; pointer-events: none;" data-401="pointer-events: visiblePainted;">
            <div ng-include="'navContainer'"></div>
          </nav>
          
        </div>
        
        <div class="pabloHeader">
        </div>
        
        <div class="progressBarBack" ng-click="audio1.seek(audio1.duration * seekPercentage($event)); progressBarSeekMouseUp(seekPercentage($event))">
          <div class="progressBar" ng-style="{ width: progressBarStyle(audio1.currentTime, audio1.duration) + '%' }"></div>
        </div>
        
        <div class="musicPlayer">
          <audio media-player="audio1" data-playlist="playlist"></audio>
          <span ng-show="audio1.playing">Player status: Playing</span>
          <span ng-show="!audio1.playing">Player status: Paused</span>
          <div class="playButton" ng-click="audio1.playPause(true)">play</div>
          <div class="playButton" ng-click="prev()">prev</div>
          <div class="playButton" ng-click="next()">next</div>
          <div class="playButton" ng-click="toggleRepeat()">Repeat</div>
          <div class="playButton" ng-click="toggleShuffle()">Shuffle</div>
          
          
        </div>
        
        <div class="pabloFeed">
          <div infinite-scroll='loadMore()' infinite-scroll-distance='0' infinite-scroll-disabled='infiniteDisabled'>
            <div ng-repeat='block in pabloFeed | filter:filterByType' class="pabloFeedBlock animate-repeat">
              <div ng-include="block.type">
              </div>
            </div>
          </div>
        </div>
      
      <div class="loadMoreButton">
        <button ng-click="loadMore()">
          Moar!!
        </button>
      </div>
      
      <div class="footer">
        footer
      </div>

      
      <div class="stickyFooterCenter">
        <div class="stickyFooterTop" ng-click="goToTop()"></div>
        <div class="stickyFooterTwit" ng-click="toggleAbout()"></div>
        <div class="stickyFooterTwit" ng-click="toggleSocial()"></div>
        <div class="stickyFooterTwit" ng-click="togglePlaylist()"></div>
        <div class="stickyFooterScrobble" ng-click="toggleScrobble()"></div>
      </div>
    
    </div>
  </body>
</html>