<!doctype html>
<html>
  <head>
    <title>Pablo Lam Landing Page</title>
    
    <script src="js/dependencies/jquery/dist/jquery.min.js"></script>
    <script src="js/dependencies/angular/angular.min.js"></script>
    <script src="js/dependencies/angular-resource/angular-resource.min.js"></script> 
    <script src="js/dependencies/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/dependencies/angular-bootstrap/ui-bootstrap.min.js"></script>  
    <script src="js/dependencies/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="js/dependencies/ng-infinite-scroll.min.js"></script> 
    <script src="js/dependencies/angular-animate/angular-animate.min.js"></script> 
    <script src="js/dependencies/angular-scroll/angular-scroll.min.js"></script>  
    <script src="js/dependencies/skrollr.min.js"></script>
    <script src="js/dependencies/skrollr.dir.js"></script>
    <script src="js/dependencies/angular-media-player/dist/angular-media-player.min.js"></script>
    
    <script src="js/pablolam.js"></script>
    
    <link rel="stylesheet" href="js/dependencies/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/importer.css">
    
    
    
  </head>
    <body ng-app="pablolam">
    
      <script type="text/ng-template" id="twitter">
        <div class="pabloTwitFeedBlock">
          <div ng-style="{{getStyleFromIndex(pabloFeed.indexOf(block), block.favorite_count)}}">
            <div>
              {{block.pabloDate * 1000 | date:'yyyy-MM-dd HH:mm'}}
            </div>
            <div class="pabloTwitFeedBlockText">
              {{block.text}}
            </div>
            <div ng-show="block.entities.media != null">
              {{block.entities.media[0].media_url}}
            </div>
          </div>
        </div>
      </script>
      
      <script type="text/ng-template" id="lastfm">
        <div class="pabloLastFMFeedBlock">
          <div>
            {{block.pabloDate * 1000 | date:'yyyy-MM-dd HH:mm'}}
          </div>
          <div>
            {{block.artist}} - {{block.text}}
          </div>
        </div>
      </script>
      
      <script type="text/ng-template" id="instagram">
        <div class="pabloIGFeedBlock">
          {{block.pabloDate * 1000 | date:'yyyy-MM-dd HH:mm'}}
          <span ng-style="{'background-image':'url({{block.image}})', 'background-size':'cover', 'height':'100%', 'display':'block', 'padding-bottom':'100%'}">
          </span>
        </div>
        <div>
        </div>
      </script>
      
      <div class="mainContainer" ng-controller="FeedController">
        
        <nav class="navbar navbar-inverse navbar-fixed-top" skrollr data-0="opacity:1;" data-400="opacity:0; pointer-events: visiblePainted;" data-401="pointer-events: none;">
          <div class="navbar-container">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="https://www.facebook.com/pawbs">Facebook</a></li>
              <li><a href="https://twitter.com/pawBs">Twitter</a></li>
              <li><a href="www.last.fm/user/pb_overflow">Last FM</a></li>
              
            </ul>
          </div>
        </nav>
        <div class="pabloHeader">
        </div>
        
        <div class="musicPlayer">
          <audio media-player="audio1" data-playlist="playlist"></audio>
          <span ng-show="audio1.playing">Player status: Playing</span>
          <span ng-show="!audio1.playing">Player status: Paused</span>
          <div class="playButton" ng-click="audio1.playPause()">play</div>
          <div class="playButton" ng-click="playAll()">add all</div>
          
        </div>
        
        <div class="pabloFeed">
          <div infinite-scroll='loadMore()' infinite-scroll-distance='0' infinite-scroll-disabled='infiniteDisabled'>
            <div ng-repeat='block in pabloFeed | filter:filterByType' class="pabloFeedBlock animate-repeat">
              <div ng-include="block.type">
              </div>
            </div>
          </div>
        </div>
      
      <div class="loadMoreButton">
        <button ng-click="loadMore()">
          Moar!!
        </button>
      </div>
      
      <div class="footer">
        footer
      </div>

      
      <div class="stickyFooterCenter">
        <div class="stickyFooterTop" ng-click="goToTop()"></div>
        <div class="stickyFooterTwit" ng-click="toggleTwitInsta()"></div>
        <div class="stickyFooterInstagram" ng-click="toggleInstagram()"></div>
        <div class="stickyFooterScrobble" ng-click="toggleScrobble()"></div>
      </div>
    
    </div>
  </body>
</html>