<!doctype html>
<html ng-app>
  <head>
    <title>Pablo Lam Landing Page</title>
    
    <script src="js/dependencies/angular/angular.min.js"></script>
    <script src="js/dependencies/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/dependencies/jquery/dist/jquery.min.js"></script>
    <script src="js/dependencies/angular-bootstrap/ui-bootstrap.min.js"></script>  
    <script src="js/dependencies/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="js/dependencies/ng-infinite-scroll.min.js"></script>    
    
    <link rel="stylesheet" href="js/dependencies/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/importer.css">
    
  </head>
  <body>


    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-container">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>

  
  <div class="pabloFeed">
    <div class="pabloFeedBlock">
      test
    </div>
  </div>
  
  </body>
</html>